# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Database
db.sqlite3

# Static files
/staticfiles/
*.log

# IDE and editor folders
.vscode/
.idea/
*.swp

# Environment variables
.env

# Local settings
local_settings.py

# Pytest cache
.cache
